
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img src="assets/Resources/banner1.gif"></a>
    <a class="carousel-item" href="#two!"><img src="assets/Resources/banner 2.jpg"></a>
    <a class="carousel-item" href="#three!"><img src="assets/Resources/banner3.jfif"></a>
  </div>

  <div class="row">
    <div class="center-align col l8 push-l2">
        <h5>sadfjaisdj ksdjfjsd sjdkf jksdhfjsahdflak kjsdhfjakshdf ksajdfkjasdhf sdkjfasjkdhfjsh aksd</h5>
    </div>
  </div>