<footer class="page-footer">

<div class="txtfoot bottom-fixed">
<div class="col s5 m4 l2 pull-l1 center">   
    <img src="../../../assets/Icons/white-fb.png" class="icons">
     <img src="../../../assets/Icons/white-ins.png" class="icons">
     <img src="../../../assets/Icons/white-tw.png   " class="icons">
 </div> 
<p style="text-align:center" class="white-text ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
     software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>
</footer>