<!-- <div class="row yellow valign-wrapper">
    <a href="#" class="col  l9 push-l1 left white-text">Descubre</a>
    <a href="#" class="col  l8  white-text">Comunidad</a>
    <a href="#" class="col  l7  white-text">Contacto</a>
    <a href="#" class="col  l6  white-text">Merch</a>
    <div class="col s5 m4 l2 pull-l1 right">   
       <img src="../../../assets/Icons/faceIcon.png" class="icons">
        <img src="../../../assets/Icons/instaIcon.png" class="icons">
        <img src="../../../assets/Icons/twitIcon.png" class="icons">
    </div> 

</div> !-->
<div>
  <nav>
    <div class=" row">
      <a href="#!" class="brand-logo col l2 push-l1">
        <img src="../../../assets/Resources/logo.jpg" id="logo">
      </a>
      
       <!-- <form class="col l6">
          <div class="row">
            <div class="input-field col l6 valign-wrapper">
                <div class="col l9">
                    <input id="search" type="search">
                </div>
                <div class="col l3">
                    <img src="../../../assets/Icons/magIcon.png" class="icons right">
                </div>
            </div>
          </div>
        </form> !-->
<div class="valign-wrapper row">
        <a href="#" class="col  l5  push-l2 white-text">Descubre</a>
        <a href="#" class="col  l5  white-text">Comunidad</a>
        <a href="#" class="col  l4  pull-l2 white-text">Contacto</a>
        <a href="#" class="col  l2  pull-l3 white-text">Merch</a>
        <div class="col  l2  pull-r3 rigth "><img src="as" ></div>

      </div>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <!--<ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Productos</a></li>
      <li><a href="badges.html">Populares</a></li>
      <li><a href="collapsible.html">Cotizacion</a></li>
    </ul> !-->
  </nav>
</div>
