<div class="row yellow valign-wrapper">
    <a href="#" class="col s7 m8 l10 push-l1 left white-text">Conocenos</a>
    <div class="col s5 m4 l2 pull-l1 right">
        <img src="../../../assets/Icons/faceIcon.png" class="icons">
        <img src="../../../assets/Icons/instaIcon.png" class="icons">
        <img src="../../../assets/Icons/twitIcon.png" class="icons">
    </div>

</div>
<div>
  <nav>
    <div class="nav-wrapper row">
      <a href="#!" class="brand-logo col l2 push-l1">
        <img src="../../../assets/Resources/logo.jpg" id="logo">
      </a>
      
        <form class="col l6">
          <div class="row">
            <div class="input-field col l6 valign-wrapper">
                <div class="col l9">
                    <input id="search" type="search">
                </div>
                <div class="col l3">
                    <img src="../../../assets/Icons/magIcon.png" class="icons right">
                </div>
            </div>
          </div>
        </form>

      <ul id="nav-mobile" class="right hide-on-med-and-down col l4 right pull-l1">
        <li><a href="#" class=" valign-wrapper"><img src="../../../assets/Icons/clickIcon.png" class="icons left">productos</a></li>
        <li><a href="#" class=" valign-wrapper"><img src="../../../assets/Icons/magIcon.png" class="icons left">populares</a></li>
        <li><a href="#" class=" valign-wrapper"><img src="../../../assets/Icons/shopIcon.png" class="icons left">cotizacion</a></li>
      </ul>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="sass.html">Productos</a></li>
      <li><a href="badges.html">Populares</a></li>
      <li><a href="collapsible.html">Cotizacion</a></li>
    </ul>
  </nav>
</div>
